# Template for AL projects for Dynamics 365 Business Central

# Launch configuration folder
.vscode/

# Cache folder
.alcache/

# Symbols folder
.alpackages/

# Snapshots folder
.snapshots/

# Testing Output folder
.output/

# Extension App-file (AL project apps)
*.app

# Rapid Application Development File
rad.json

# Translation Base-file (for XLIFF files)
*.g.xlf

# License file for AL extensions
*.flf

# Test results file
TestResults.xml

# Node modules folder
node_modules/

# Angular build folder
.angular/

# Distribution folder (build output)
dist/
