<div class="plans-wrapper">
  <h2 class="section-title">
    escolha seu <span class="highlight">plano ideal</span>
  </h2>
  <p class="section-subtitle">
    assine um plano mensal e garanta seus cortes e barbas com prioridade
  </p>

  <div class="plans-grid">
    <div *ngFor="let plan of plans" class="plan-card">

      <h3 class="plan-name">{{ plan.nome }}</h3>
      <p class="plan-description">{{ plan.descricao }}</p>

      <div class="plan-price">
        <span class="price">R$ {{ plan.precoPromocional }}</span>
        <small>{{ plan.duracao }} dias</small>
      </div>

      <ul class="plan-services">
        <li *ngFor="let b of plan.beneficios?.split(',')">
          <mat-icon>check_circle</mat-icon>
          <span>{{ b }}</span>
        </li>
      </ul>

      <button mat-raised-button class="choose-button" color="primary">
        escolher plano
      </button>

    </div>
  </div>


</div>